* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Helvetica;
}

.Navbar {
  background: transparent;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100px;
  width: 100%;
  position: absolute;
}

.Home {
  justify-self: start;
  display: flex;
  list-style: none;
  align-items: center;
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.Logo {
  height: 5em;
  width: 9.2em;
}

.Links {
  display: flex;
  justify-content: flex-end;
  list-style: none;
  width: 80%;
}

.Team,
.Portfolio,
.Stocks,
.About,
.Contact {
  text-decoration: none;
  color: black;
  font-size: 25px;
  padding: 10px 20px;
  margin: 0 10px;
  cursor: pointer;
  transition: all 0.5s linear;
}

.Team:hover,
.Portfolio:hover,
.Stocks:hover,
.About:hover,
.Contact:hover {
  color: #132e57;
}

.MobileIcon {
  display: none;
}

@media screen and (max-width: 850px) {
  .Home {
    display: flex;
    position: absolute;
    align-self: center;
    top: 0px;
    left: 10px;
  }

  .Links {
    display: none;
  }

  .MobileLinks {
    position: absolute;
    display: block;
    list-style: none;
    background-color: black;
    left: 0;
    top: 80px;
    transition: all 1s ease-out;
    width: 100%;
  }

  .Team,
  .Portfolio,
  .Stocks,
  .About,
  .Contact {
    color: white;
    text-align: center;
    padding: 40px;
    width: 100%;
    transition: all 1s ease;
  }

  .MobileIcon {
    display: block;
    position: absolute;
    font-size: 30px;
    color: black;
    background-color: transparent;
    border: none;
    outline: none;
    top: 20px;
    right: 30px;
  }
}
