* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Helvetica;
}

.NavbarCopy {
  background: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100px;
  width: 100%;
}

.HomeCopy {
  justify-self: start;
  display: flex;
  list-style: none;
  align-items: center;
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.LogoCopy {
  height: 5em;
  width: 5em;
}

.LinksCopy {
  display: flex;
  justify-content: flex-end;
  list-style: none;
  width: 80%;
}

.TeamCopy,
.PortfolioCopy,
.StocksCopy,
.AboutCopy,
.ContactCopy {
  text-decoration: none;
  color: black;
  font-size: 25px;
  padding: 10px 20px;
  margin: 0 10px;
  cursor: pointer;
  transition: all 0.5s linear;
}

.TeamCopy:hover,
.PortfolioCopy:hover,
.StocksCopy:hover,
.AboutCopy:hover,
.ContactCopy:hover {
  color: #132e57;
}

.MobileIconCopy {
  display: none;
}

@media screen and (max-width: 850px) {
  .HomeCopy {
    display: flex;
    position: absolute;
    align-self: center;
    top: 0px;
    left: 10px;
  }

  .LinksCopy {
    display: none;
  }

  .MobileLinksCopy {
    position: absolute;
    display: block;
    list-style: none;
    background-color: black;
    left: 0;
    top: 80px;
    transition: all 1s ease-out;
    width: 100%;
  }

  .TeamCopy,
  .PortfolioCopy,
  .StocksCopy,
  .AboutCopy,
  .ContactCopy {
    color: white;
    text-align: center;
    padding: 40px;
    width: 100%;
    transition: all 1s ease;
  }

  .MobileIconCopy {
    display: block;
    position: absolute;
    font-size: 30px;
    color: black;
    background-color: transparent;
    border: none;
    outline: none;
    top: 20px;
    right: 30px;
  }
}
