/*
Blue: #132e57
Orange: #fa621c
*/

.about {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  background-color: white;
  background-size: cover;
  color: black;
  padding: 20px;
}

a {
  text-decoration: none;
}

.inAbout {
  padding: 5px;
}

.pic1 {
  height: auto;
  width: auto;
  background-size: cover;
  margin: 50px;
}

h2 {
  font-size: 40px;
  margin-bottom: 20px;
}

h4 {
  font-size: 25px;
}
.aboutTitle {
  text-align: left;
  font-family: 'Times New Roman', Times, serif;
  margin: 20px;
}

.aboutDesc {
  text-align: left;
  font-family: 'Times New Roman', Times, serif;
  font-weight: normal;
  margin: 20px;
}
.containerAbout {
  border-top: 0.0001mm solid;
  border-bottom: 0.0001mm solid;
}

img {
  height: 30px;
  width: 30px;
}

.space {
  margin-bottom: 20px;
}

.separator {
  width: 100%;
  height: 5px;
  background-color: #132e57;
}
