/*
Blue: #132e57
Orange: #fa621c
*/

.ContactPage {
  background: url("blue.png");
  background-size: 100% 100%;
  width: 100%;
  height: 100vh;
  font-family: "Times New Roman";
}

.TopLine {
  display: flex;
  position: relative;
  text-align: center;
  justify-content: center;
  top: 25%;
  font-family: "Times New Roman";
  font-size: 5.3em;
  color: black;
}

.BottomLine {
  display: flex;
  position: relative;
  text-align: center;
  justify-content: center;
  width: 70%;
  top: 30%;
  left: 15%;
  font-family: "Times New Roman";
  font-size: 2.5em;
  color: black;
}

.Insta {
  display: flex;
  text-decoration: none;
  cursor: pointer;
  color: black;
  font-size: 5em;
  position: relative;
  justify-content: center;
  top: 6em;
  left: 13em;
  width: 2em;
}

.Link {
  display: flex;
  text-decoration: none;
  cursor: pointer;
  color: black;
  font-size: 5em;
  position: relative;
  justify-content: center;
  top: 5em;
  left: 8em;
  width: 2em;
}
