.Footer {
  background-color: #132e57;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.Icons {
  font-size: 100px;
  display: flex;
  cursor: pointer;
  padding-left: 20px;
}

.Instagram {
  color: #fa621c;
  text-decoration: none;
}

.Linkedin {
  color: #fa621c;
  text-decoration: none;
}

.Trademark {
  justify-content: end;
  color: #fa621c;
  font-size: 50px;
  letter-spacing: 5px;
}
