.Footer {
  background-color: #132e57;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.Icons {
  font-size: 100px;
  display: flex;
  cursor: pointer;
  padding-left: 20px;
}

.Instagram {
  width: 100%;
  color: #fa621c;
  text-decoration: none;
}

.Linkedin {
  width: 100%;
  color: #fa621c;
  text-decoration: none;
}

.Trademark {
  justify-content: end;
  color: #fa621c;
  font-size: 1em;
  letter-spacing: 5px;
}

@media screen and (max-width: 742px) {
  .Icons {
    font-size: 2em;
    display: flex;
    cursor: pointer;
    padding-left: 20px;
  }

  .Trademark {
    justify-content: end;
    color: #fa621c;
    font-size: 0.5em;
    letter-spacing: 5px;
  }
}
