.GoalsPage {
  background-color: white;
  height: 100vh;
  width: 100%;
}

.Goals {
  display: flex;
  position: relative;
  left: 3.5em;
  top: 2em;
  color: black;
  font-size: 2em;
  font-weight: 700;
  text-align: center;
  letter-spacing: 0.5em;
  text-transform: uppercase;
}

.Value1Logo {
  display: flex;
  position: relative;
  font-size: 10em;
  top: 1em;
  left: 0.3em;
}

.CapitalTitle {
  display: flex;
  color: #fa621c;
  position: relative;
  font-size: 2.5em;
  top: 0.5em;
  left: 4.7em;
}

.CapitalDes {
  display: flex;
  position: relative;
  font-size: 1.5em;
  top: 2em;
  left: 8em;
}

.Value2Logo {
  display: flex;
  position: relative;
  font-size: 10em;
  top: 1.5em;
  left: 0.3em;
}

.SkillsTitle {
  display: flex;
  color: #fa621c;
  position: relative;
  font-size: 2.5em;
  top: 2em;
  left: 5.5em;
}

.SkillsDes {
  display: flex;
  position: relative;
  font-size: 1.5em;
  top: 5em;
  left: 9em;
}

.Value3Logo {
  display: flex;
  position: relative;
  font-size: 10em;
  top: 2em;
  left: 0.3em;
}

.NetworkTitle {
  display: flex;
  color: #fa621c;
  position: relative;
  font-size: 2.5em;
  top: 4.2em;
  left: 5.3em;
}

.NetworkDes {
  display: flex;
  position: relative;
  font-size: 1.5em;
  top: 8em;
  left: 9em;
}
