.GoalsPage {
  background-color: black;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Goals {
  color: #fa621c;
  width: 100%;
  font-size: 50px;
  text-align: center;
  letter-spacing: 1px;
  text-transform: uppercase;
}
