.GoalsPage {
  background-color: white;
  height: 100vh;
  width: 100%;
}

.Goals {
  display: flex;
  position: absolute;
  font-family: "Times New Roman";
  color: black;
  width: 60%;
  font-size: 5em;
  font-weight: 900;
  text-align: center;
  left: 5%;
  top: 110%;
}

.LineOne {
  display: flex;
  position: absolute;
  border-bottom: 3px solid rgb(177, 177, 177);
  width: 60%;
  left: 5%;
  top: 120%;
}

.LineTwo {
  display: flex;
  position: absolute;
  border-bottom: 3px solid rgb(177, 177, 177);
  width: 60%;
  left: 5%;
  top: 143%;
}

.LineThree {
  display: flex;
  position: absolute;
  border-bottom: 3px solid rgb(177, 177, 177);
  width: 60%;
  left: 5%;
  top: 173%;
}

.Value1Logo {
  position: absolute;
  display: flex;
  font-size: 10em;
  width: 10%;
  height: 0.9em;
  left: 3%;
  top: 123%;
}

.CapitalTitle {
  display: flex;
  position: absolute;
  top: 125%;
  left: 13%;
  font-family: "Times New Roman";
  color: #132e57;
  font-size: 3em;
  width: 50%;
}

.CapitalDes {
  display: flex;
  font-family: "Times New Roman";
  font-size: 2em;
  width: 75%;
  position: absolute;
  top: 133%;
  left: 13%;
}

.Value2Logo {
  display: flex;
  position: absolute;
  left: 3%;
  top: 150%;
  font-size: 10em;
  width: 10%;
}

.SkillsTitle {
  display: flex;
  position: absolute;
  top: 152%;
  left: 14%;
  font-family: "Times New Roman";
  color: #132e57;
  font-size: 3em;
  width: 50%;
}

.SkillsDes {
  display: flex;
  font-family: "Times New Roman";
  font-size: 2em;
  width: 75%;
  position: absolute;
  top: 160%;
  left: 14%;
}

.Value3Logo {
  display: flex;
  position: absolute;
  left: 3%;
  top: 180%;
  font-size: 10em;
  width: 10%;
}

.NetworkTitle {
  display: flex;
  position: absolute;
  top: 182%;
  left: 14%;
  font-family: "Times New Roman";
  color: #132e57;
  font-size: 3em;
  width: 50%;
}

.NetworkDes {
  display: flex;
  font-family: "Times New Roman";
  font-size: 2em;
  width: 75%;
  position: absolute;
  top: 190%;
  left: 14%;
}

@media screen and (max-width: 1024px), screen and (max-height: 690px) {
  .CapitalTitle {
    display: flex;
    position: absolute;
    top: 128%;
    left: 13%;
    font-family: "Times New Roman";
    color: #132e57;
    font-size: 2em;
    width: 50%;
  }

  .CapitalDes {
    display: flex;
    font-family: "Times New Roman";
    font-size: 1em;
    width: 75%;
    position: absolute;
    top: 133%;
    left: 13%;
  }

  .SkillsTitle {
    display: flex;
    position: absolute;
    top: 155%;
    left: 14%;
    font-family: "Times New Roman";
    color: #132e57;
    font-size: 1.5em;
    width: 50%;
  }

  .SkillsDes {
    display: flex;
    font-family: "Times New Roman";
    font-size: 1em;
    width: 75%;
    position: absolute;
    top: 160%;
    left: 14%;
  }

  .NetworkTitle {
    display: flex;
    position: absolute;
    top: 185%;
    left: 14%;
    font-family: "Times New Roman";
    color: #132e57;
    font-size: 2em;
    width: 50%;
  }

  .NetworkDes {
    display: flex;
    font-family: "Times New Roman";
    font-size: 1em;
    width: 75%;
    position: absolute;
    top: 190%;
    left: 14%;
  }

  .Goals {
    display: flex;
    position: absolute;
    font-family: "Times New Roman";
    color: black;
    width: 60%;
    font-size: 3em;
    font-weight: 900;
    text-align: center;
    left: 5%;
    top: 115%;
  }
}

@media screen and (max-width: 510px), screen and (max-height: 665px) {
  .CapitalTitle {
    display: flex;
    position: absolute;
    top: 133%;
    left: 13%;
    font-family: "Times New Roman";
    color: #132e57;
    font-size: 1em;
    width: 50%;
  }

  .CapitalDes {
    display: flex;
    font-family: "Times New Roman";
    font-size: 0.7em;
    width: 75%;
    position: absolute;
    top: 137%;
    left: 13%;
  }

  .SkillsTitle {
    display: flex;
    position: absolute;
    top: 159%;
    left: 14%;
    font-family: "Times New Roman";
    color: #132e57;
    font-size: 1em;
    width: 50%;
  }

  .SkillsDes {
    display: flex;
    font-family: "Times New Roman";
    font-size: 0.7em;
    width: 75%;
    position: absolute;
    top: 163%;
    left: 14%;
  }

  .NetworkTitle {
    display: flex;
    position: absolute;
    top: 189%;
    left: 14%;
    font-family: "Times New Roman";
    color: #132e57;
    font-size: 1em;
    width: 50%;
  }

  .NetworkDes {
    display: flex;
    font-family: "Times New Roman";
    font-size: 0.7em;
    width: 75%;
    position: absolute;
    top: 193%;
    left: 14%;
  }
}

@media screen and (max-height: 910px) {
  .LineOne {
    display: flex;
    position: absolute;
    border-bottom: 3px solid rgb(177, 177, 177);
    width: 80%;
    left: 5%;
    top: 119%;
  }

  .LineTwo {
    display: flex;
    position: absolute;
    border-bottom: 3px solid rgb(177, 177, 177);
    width: 80%;
    left: 5%;
    top: 144%;
  }

  .LineThree {
    display: flex;
    position: absolute;
    border-bottom: 3px solid rgb(177, 177, 177);
    width: 80%;
    left: 5%;
    top: 174%;
  }
}

@media screen and (max-height: 830px) {
  .LineOne {
    display: flex;
    position: absolute;
    border-bottom: 3px solid rgb(177, 177, 177);
    width: 80%;
    left: 5%;
    top: 123%;
  }

  .LineTwo {
    display: flex;
    position: absolute;
    border-bottom: 3px solid rgb(177, 177, 177);
    width: 80%;
    left: 5%;
    top: 148%;
  }

  .LineThree {
    display: flex;
    position: absolute;
    border-bottom: 3px solid rgb(177, 177, 177);
    width: 80%;
    left: 5%;
    top: 178%;
  }
}

@media screen and (max-height: 652px) {
  .LineOne {
    display: flex;
    position: absolute;
    border-bottom: 3px solid rgb(177, 177, 177);
    width: 80%;
    left: 5%;
    top: 123%;
  }

  .LineTwo {
    display: flex;
    position: absolute;
    border-bottom: 3px solid rgb(177, 177, 177);
    width: 80%;
    left: 5%;
    top: 148%;
  }

  .LineThree {
    display: flex;
    position: absolute;
    border-bottom: 3px solid rgb(177, 177, 177);
    width: 80%;
    left: 5%;
    top: 178%;
  }
}

@media screen and (max-height: 570px) {
  .LineOne {
    display: flex;
    position: absolute;
    border-bottom: 3px solid rgb(177, 177, 177);
    width: 80%;
    left: 5%;
    top: 125%;
  }

  .LineTwo {
    display: flex;
    position: absolute;
    border-bottom: 3px solid rgb(177, 177, 177);
    width: 80%;
    left: 5%;
    top: 148%;
  }

  .LineThree {
    display: flex;
    position: absolute;
    border-bottom: 3px solid rgb(177, 177, 177);
    width: 80%;
    left: 5%;
    top: 178%;
  }
}

@media screen and (max-height: 460px) {
  .LineOne {
    display: flex;
    position: absolute;
    border-bottom: 3px solid rgb(177, 177, 177);
    width: 80%;
    left: 5%;
    top: 128%;
  }

  .LineTwo {
    display: flex;
    position: absolute;
    border-bottom: 3px solid rgb(177, 177, 177);
    width: 80%;
    left: 5%;
    top: 151%;
  }

  .LineThree {
    display: flex;
    position: absolute;
    border-bottom: 3px solid rgb(177, 177, 177);
    width: 80%;
    left: 5%;
    top: 181%;
  }
}
