.KarnikPage {
  background-color: #fa621c;
  height: 100vh;
  width: 100%;
  display: flex;
}

.Karnik {
  width: 100%;
  padding-top: 2em;
  text-align: center;
  color: #132e57;
  font-size: 2em;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.5em;
}

.KarnikDescription {
  width: 100%;
  text-align: center;
  padding-top: 0.5em;
  color: #132e57;
  font-size: 2em;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.5em;
}

@media screen and (max-width: 660px) {
  .Karnik {
    width: 100%;
    padding-top: 2em;
    text-align: center;
    color: #132e57;
    font-size: 0.8em;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.5em;
  }

  .KarnikDescription {
    width: 100%;
    text-align: center;
    padding-top: 0.5em;
    color: #132e57;
    font-size: 1em;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.5em;
  }
}

@media screen and (max-width: 490px) {
  .KarnikDescription {
    width: 100%;
    text-align: center;
    padding-top: 0.5em;
    color: #132e57;
    font-size: 0.8em;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.5em;
  }
}
