.MuhammedPage {
  background-color: #132e57;
  height: 100vh;
  width: 100%;
  display: flex;
}

.Muhammed {
  width: 100%;
  padding-top: 2em;
  text-align: center;
  color: #fa621c;
  font-size: 2em;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.5em;
}

.MuhammedDescription {
  width: 100%;
  text-align: center;
  padding-top: 0.5em;
  color: #fa621c;
  font-size: 2em;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.5em;
}

.MuhammedImage {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  width: 40em;
  height: 50em;
  object-fit: contain;
  padding-top: 3em;
}

@media screen and (max-width: 1402px) {
  .MuhammedImage {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 40em;
    height: 40em;
    object-fit: contain;
    padding-top: 3em;
  }
}

@media screen and (max-width: 742px) {
  .MuhammedImage {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 30em;
    height: 30em;
    object-fit: contain;
    padding-top: 3em;
  }
}

@media screen and (max-width: 480px) {
  .MuhammedImage {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 20em;
    height: 20em;
    object-fit: contain;
    padding-top: 3em;
  }

  .Muhammed {
    width: 100%;
    padding-top: 2em;
    text-align: center;
    color: #fa621c;
    font-size: 1.5em;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.5em;
  }

  .MuhammedDescription {
    width: 100%;
    text-align: center;
    padding-top: 0.5em;
    color: #fa621c;
    font-size: 1em;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.5em;
  }
}

@media screen and (max-height: 940px) {
  .MuhammedImage {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 35em;
    height: 35em;
    object-fit: contain;
    padding-top: 3em;
  }
}

@media screen and (max-height: 750px) {
  .MuhammedImage {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 30em;
    height: 30em;
    object-fit: contain;
    padding-top: 3em;
  }
}

@media screen and (max-height: 670px) {
  .MuhammedImage {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 25em;
    height: 25em;
    object-fit: contain;
    padding-top: 3em;
  }
}

@media screen and (max-height: 590px) {
  .MuhammedImage {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 20em;
    height: 20em;
    object-fit: contain;
    padding-top: 3em;
  }
}

@media screen and (max-height: 510px) {
  .MuhammedImage {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 15em;
    height: 15em;
    object-fit: contain;
    padding-top: 3em;
  }
}
