/*
Blue: #132e57
Orange: #fa621c
*/

.portfolio {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: white;
  background-size: cover;
  color: black;
  padding: 20px;
  padding-top: 1in;
  margin-bottom: 10%;
}

a {
  text-decoration: none;
}

.inPortfolio {
  padding: 5px;
}
.containerPortfolio {
  display: flex;
  margin-top: 100px;
}
.font {
  font-family: 'Times New Roman', Times, serif;
}

.fontUnder {
  font-family: 'Times New Roman', Times, serif;
  font-weight: lighter;
}
.child {
  width: 50%;
  float: left;

  font-size: 40px;
  text-align: center;
  margin: 10px;
  font-family: 'Times New Roman', Times, serif;
}
h2 {
  font-size: 40px;
  margin-bottom: 20px;
}
.portfolioTitle {
  text-align: left;
  font-family: 'Times New Roman', Times, serif;
  margin: 20px;
}

h3 {
  font-size: 35px;
}
.portfolioDesc {
  text-align: left;
  font-family: 'Times New Roman', Times, serif;
  font-weight: normal;
  margin: 20px;
}

img {
  height: 30px;
  width: 30px;
}

.space {
  margin-bottom: 600px;
  background-color: white;
}

.separator {
  width: 100%;
  height: 5px;
  background-color: #132e57;
}
