/*
Blue: #132e57
Orange: #fa621c
*/

.portfolio {
  width: 100%;
  height: 750px;
  display: flex;
  flex-direction: column;
  background-color: white;
  background-size: cover;
  color: black;
  padding: 20px;
}

a {
  text-decoration: none;
}

.inPortfolio {
  padding: 5px;
}
.container {
  display: flex;
}
.font {
  font-family: 'Times New Roman', Times, serif;
}

.fontUnder {
  font-family: 'Times New Roman', Times, serif;
  font-weight: normal;
}
.child {
  width: 50%;
  float: left;

  font-size: 40px;
  text-align: center;
  margin: 10px;
  font-family: 'Times New Roman', Times, serif;
}
h2 {
  font-size: 40px;
  margin-bottom: 20px;
}
.portfolioTitle {
  text-decoration: underline;
  font-family: 'Times New Roman', Times, serif;
}

h4 {
  font-size: 25px;
}
.portfolioDesc {
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
  font-weight: normal;
}

.portfolio > img {
  height: 30px;
  width: 30px;
}

img {
  height: 30px;
  width: 30px;
}

.space {
  margin-bottom: 600px;
}

.separator {
  width: 100%;
  height: 5px;
  background-color: #132e57;
}
