.PuneetPage {
  background-color: #132e57;
  height: 100vh;
  width: 100%;
  display: flex;
}

.Puneet {
  width: 100%;
  padding-top: 2em;
  text-align: center;
  color: #fa621c;
  font-size: 2em;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.5em;
}

.PuneetDescription {
  width: 100%;
  text-align: center;
  padding-top: 0.5em;
  color: #fa621c;
  font-size: 2em;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.5em;
}

.PuneetImage {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  width: 40em;
  height: 50em;
  object-fit: contain;
  padding-top: 3em;
}
