.QuestionPage {
  background-color: white;
  height: 100vh;
  width: 100%;
}

.Question {
  display: flex;
  position: absolute;
  width: 80%;
  text-align: center;
  justify-content: center;
  align-items: center;
  color: black;
  font-size: 4em;
  font-weight: 700;
  letter-spacing: 0.3em;
  text-transform: uppercase;
  top: 235%;
  left: 10%;
  padding-bottom: 0.3em;
  border-bottom: 3px solid rgb(177, 177, 177);
}

.ContactButton {
  display: flex;
  justify-content: center;
  position: absolute;
  top: 260%;
  left: 40%;
}

@media screen and (max-width: 1696px) {
  .Question {
    display: flex;
    position: absolute;
    width: 80%;
    text-align: center;
    justify-content: center;
    align-items: center;
    color: black;
    font-size: 3em;
    font-weight: 700;
    letter-spacing: 0.3em;
    text-transform: uppercase;
    top: 235%;
    left: 10%;
    padding-bottom: 0.3em;
    border-bottom: 3px solid rgb(177, 177, 177);
  }
}

@media screen and (max-width: 1266px) {
  .ContactButton {
    display: flex;
    justify-content: center;
    position: absolute;
    top: 260%;
    left: 34%;
  }
}

@media screen and (max-width: 992px) {
  .Question {
    display: flex;
    position: absolute;
    width: 80%;
    text-align: center;
    justify-content: center;
    align-items: center;
    color: black;
    font-size: 2em;
    font-weight: 700;
    letter-spacing: 0.3em;
    text-transform: uppercase;
    top: 235%;
    left: 10%;
    padding-bottom: 0.3em;
    border-bottom: 3px solid rgb(177, 177, 177);
  }

  .ContactButton {
    display: flex;
    justify-content: center;
    position: absolute;
    top: 250%;
    left: 32%;
  }
}

@media screen and (max-width: 850px) {
  .ContactButton {
    display: flex;
    justify-content: center;
    position: absolute;
    top: 250%;
    left: 28%;
  }
}

@media screen and (max-width: 662px) {
  .Question {
    display: flex;
    position: absolute;
    width: 80%;
    text-align: center;
    justify-content: center;
    align-items: center;
    color: black;
    font-size: 1em;
    font-weight: 700;
    letter-spacing: 0.3em;
    text-transform: uppercase;
    top: 242%;
    left: 10%;
    padding-bottom: 0.3em;
    border-bottom: 3px solid rgb(177, 177, 177);
  }

  .ContactButton {
    display: flex;
    justify-content: center;
    position: absolute;
    top: 250%;
    left: 20%;
  }
}

@media screen and (max-width: 480px) {
  .ContactButton {
    display: flex;
    justify-content: center;
    position: absolute;
    top: 250%;
    left: 4%;
  }
}
