.QuestionPage {
  background-color: white;
  height: 100vh;
  width: 100%;
}

.Question {
  display: flex;
  position: absolute;
  font-family: "Times New Roman";
  width: 80%;
  text-align: center;
  justify-content: center;
  align-items: center;
  color: black;
  font-size: 4em;
  font-weight: 700;
  letter-spacing: 0.3em;
  text-transform: uppercase;
  top: 235%;
  left: 10%;
  padding-bottom: 0.3em;
  border-bottom: 3px solid rgb(177, 177, 177);
}

.ContactButton {
  display: flex;
  justify-content: center;
  position: absolute;
  top: 260%;
  left: 40%;
}

@media screen and (max-width: 1710px), screen and (max-height: 930px) {
  .Question {
    display: flex;
    position: absolute;
    font-family: "Times New Roman";
    width: 80%;
    text-align: center;
    justify-content: center;
    align-items: center;
    color: black;
    font-size: 3em;
    font-weight: 700;
    letter-spacing: 0.3em;
    text-transform: uppercase;
    top: 235%;
    left: 10%;
    padding-bottom: 0.3em;
    border-bottom: 3px solid rgb(177, 177, 177);
  }
}

@media screen and (max-width: 1284px), screen and (max-height: 725px) {
  .Question {
    display: flex;
    position: absolute;
    font-family: "Times New Roman";
    width: 80%;
    text-align: center;
    justify-content: center;
    align-items: center;
    color: black;
    font-size: 2em;
    font-weight: 700;
    letter-spacing: 0.3em;
    text-transform: uppercase;
    top: 235%;
    left: 10%;
    padding-bottom: 0.3em;
    border-bottom: 3px solid rgb(177, 177, 177);
  }

  .ContactButton {
    display: flex;
    justify-content: center;
    position: absolute;
    top: 260%;
    left: 35%;
  }
}

@media screen and (max-width: 856px), screen and (max-height: 465px) {
  .Question {
    display: flex;
    position: absolute;
    font-family: "Times New Roman";
    width: 80%;
    text-align: center;
    justify-content: center;
    align-items: center;
    color: black;
    font-size: 1em;
    font-weight: 700;
    letter-spacing: 0.3em;
    text-transform: uppercase;
    top: 245%;
    left: 10%;
    padding-bottom: 0.3em;
    border-bottom: 3px solid rgb(177, 177, 177);
  }

  .ContactButton {
    display: flex;
    justify-content: center;
    position: absolute;
    top: 260%;
    left: 28%;
  }
}

@media screen and (max-width: 636px), screen and (max-height: 410px) {
  .ContactButton {
    display: flex;
    justify-content: center;
    position: absolute;
    top: 260%;
    left: 10%;
  }
}

@media screen and (max-width: 430px), screen and (max-height: 360px) {
  .ContactButton {
    display: flex;
    justify-content: center;
    position: absolute;
    top: 265%;
    left: 0.5%;
  }
}
