.RhysPage {
  background-color: #fa621c;
  height: 100vh;
  width: 100%;
  display: flex;
}

.Rhys {
  width: 100%;
  padding-top: 2em;
  text-align: center;
  color: #132e57;
  font-size: 2em;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.5em;
}

.RhysDescription {
  width: 100%;
  text-align: center;
  padding-top: 0.5em;
  color: #132e57;
  font-size: 2em;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.5em;
}

.RhysImage {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  width: 40em;
  height: 50em;
  object-fit: contain;
  padding-top: 3em;
}

@media screen and (max-width: 1402px) {
  .RhysImage {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 40em;
    height: 40em;
    object-fit: contain;
    padding-top: 3em;
  }
}

@media screen and (max-width: 742px) {
  .RhysImage {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 30em;
    height: 30em;
    object-fit: contain;
    padding-top: 3em;
  }
}

@media screen and (max-width: 480px) {
  .RhysImage {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 20em;
    height: 20em;
    object-fit: contain;
    padding-top: 3em;
  }

  .Rhys {
    width: 100%;
    padding-top: 2em;
    text-align: center;
    color: #132e57;
    font-size: 1.5em;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.5em;
  }

  .RhysDescription {
    width: 100%;
    text-align: center;
    padding-top: 0.5em;
    color: #132e57;
    font-size: 1em;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.5em;
  }
}
