.SajeevPage {
  background-color: #fa621c;
  height: 100vh;
  width: 100%;
  display: flex;
}

.Sajeev {
  width: 100%;
  padding-top: 2em;
  text-align: center;
  color: #132e57;
  font-size: 2em;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.5em;
}

.SajeevDescription {
  width: 100%;
  text-align: center;
  padding-top: 0.5em;
  color: #132e57;
  font-size: 2em;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.5em;
}

.SajeevImage {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  width: 35em;
  height: 45em;
  object-fit: contain;
  padding-top: 3em;
}
