.StevePage {
  background-color: #fa621c;
  height: 100vh;
  width: 100%;
}

.Steve {
  width: 100%;
  padding-top: 2em;
  text-align: center;
  color: #132e57;
  font-size: 2em;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.5em;
}

.SteveDescription {
  width: 100%;
  text-align: center;
  padding-top: 0.5em;
  color: #132e57;
  font-size: 2em;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.5em;
}

.SteveImage {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  width: 40em;
  height: 50em;
  object-fit: contain;
  padding-top: 3em;
}

@media screen and (max-width: 1355px) {
  .SteveImage {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 40em;
    height: 40em;
    object-fit: contain;
    padding-top: 3em;
  }
}

@media screen and (max-width: 826px) {
  .SteveImage {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 35em;
    height: 35em;
    object-fit: contain;
    padding-top: 3em;
  }
}

@media screen and (max-width: 649px) {
  .SteveImage {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 30em;
    height: 30em;
    object-fit: contain;
    padding-top: 3em;
  }
}

@media screen and (max-width: 480px) {
  .SteveImage {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 20em;
    height: 20em;
    object-fit: contain;
    padding-top: 3em;
  }
}

@media screen and (max-width: 410px) {
  .Steve {
    width: 100%;
    padding-top: 1em;
    text-align: center;
    color: #132e57;
    font-size: 1.5em;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.5em;
  }

  .SteveDescription {
    width: 100%;
    text-align: center;
    padding-top: 0.5em;
    color: #132e57;
    font-size: 1.5em;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.5em;
  }
}

@media screen and (max-height: 940px) {
  .SteveImage {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 35em;
    height: 35em;
    object-fit: contain;
    padding-top: 3em;
  }
}

@media screen and (max-height: 750px) {
  .SteveImage {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 30em;
    height: 30em;
    object-fit: contain;
    padding-top: 3em;
  }
}

@media screen and (max-height: 670px) {
  .SteveImage {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 25em;
    height: 25em;
    object-fit: contain;
    padding-top: 3em;
  }
}

@media screen and (max-height: 590px) {
  .SteveImage {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 20em;
    height: 20em;
    object-fit: contain;
    padding-top: 3em;
  }
}

@media screen and (max-height: 510px) {
  .SteveImage {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 15em;
    height: 15em;
    object-fit: contain;
    padding-top: 3em;
  }
}
