.container{
    width:350px;
    height: 15vw;
    display: flex;
    flex-direction: row;
    margin:10px;
}


.picture{
    height: 15vw;
    width: 15vw;
    margin-right: 10px;
}

.name{
    text-decoration: underline;
    padding-bottom: 5px;
}

.role{
    padding-bottom: 5px;

}

.education{
    padding-bottom: 5px;

}