.container{
    width: 400px;
    height: 15vw;
    display: flex;
    flex-direction: row;
    margin:10px;
}


.picture{
    height: 15vw;
    width: 15vw;
    margin-right: 10px;
    border-radius: 50%;
}

.name{
    text-decoration: underline;
    padding-bottom: 5px;
    font-size: 1.5em;
    color: #132E57;
    font-weight: bold;
}

.role{
    padding-bottom: 15%;
    font-size: 1.5em;
}

.education{
    padding-bottom: 5px;
    font-size: 1.3em;

}