.TitlePage {
  background: url("toronto.png");
  background-size: 100% 100%;
  height: 100vh;
  width: 100%;
}

.CompName {
  width: 100%;
  padding-top: 200px;
  padding-left: 50px;
  color: #fa621c;
  font-size: 48px;
  text-transform: uppercase;
  letter-spacing: 10px;
}

.Intro {
  color: #fa621c;
  text-align: center;
  width: 100%;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 5px;
}
