.CompName {
  color: #fa621c;
  display: flex;
  font-size: 48px;
  font-size-adjust: inherit;
  padding: 10px 10px;
  text-transform: uppercase;
  letter-spacing: 10px;
}

.Intro {
  color: #fa621c;
  display: flex;
  font-size: 24px;
  justify-content: center;
  text-align: center;
  font-size-adjust: inherit;
  text-transform: uppercase;
  letter-spacing: 5px;
}
