.TitlePage {
  background: url("toronto.png");
  background-size: 100% 100%;
  height: 100vh;
  width: 100%;
}

.Row1 {
  display: flex;
  text-align: center;
}

.Col1 {
  max-width: 500px;
  flex-basis: 500px;
}

.CompName {
  padding-top: 200px;
  color: #fa621c;
  font-size: 48px;
  font-size-adjust: inherit;
  padding-bottom: 50px;
  text-transform: uppercase;
  letter-spacing: 10px;
}

.Intro {
  color: #fa621c;
  font-size: 20px;
  font-size-adjust: inherit;
  text-transform: uppercase;
  letter-spacing: 5px;
}
