.TrevorPage {
  background-color: #132e57;
  height: 100vh;
  width: 100%;
  display: flex;
}

.Trevor {
  width: 100%;
  padding-top: 2em;
  text-align: center;
  color: #fa621c;
  font-size: 2em;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.5em;
}

.TrevorDescription {
  width: 100%;
  text-align: center;
  padding-top: 0.5em;
  color: #fa621c;
  font-size: 2em;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.5em;
}

.TrevorImage {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  width: 35em;
  height: 45em;
  object-fit: contain;
  padding-top: 3em;
}

@media screen and (max-width: 1431px) {
  .TrevorImage {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 30em;
    height: 30em;
    object-fit: contain;
    padding-top: 3em;
  }
}

@media screen and (max-width: 660px) {
  .Trevor {
    width: 100%;
    padding-top: 2em;
    text-align: center;
    color: #fa621c;
    font-size: 0.8em;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.5em;
  }

  .TrevorDescription {
    width: 100%;
    text-align: center;
    padding-top: 0.5em;
    color: #fa621c;
    font-size: 1em;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.5em;
  }
}

@media screen and (max-width: 490px) {
  .TrevorDescription {
    width: 100%;
    text-align: center;
    padding-top: 0.5em;
    color: #fa621c;
    font-size: 0.8em;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.5em;
  }

  .TrevorImage {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 20em;
    height: 20em;
    object-fit: contain;
    padding-top: 3em;
  }
}
